.combo-box .list-view .list-cell {
    -fx-text-fill: black;
    -fx-background-color: #F8F5FA;
}

.combo-box .list-view:hover .list-cell:hover {
    -fx-background-color: #bbbbbb;
    -fx-cursor: hand;
}

.combo-box {
    -fx-background-color: #F8F5FA;
    /*-fx-border-width: 2;
    -fx-border-color: #00222f;*/
}

.combo-box-base .text {
    -fx-fill: black;
}

.scroll-pane .corner {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: #68a0b4;
    -fx-max-width: 4;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.hyperlink .button:pressed {
    -fx-font-size: 25;
    -fx-font-family: 'Microsoft Sans Serif';
    -fx-border-width: 2;
    -fx-min-width: 180;
    -fx-background-color: #68a0b4;
    -fx-border-color: #737373;
}

.button:pressed {
    -fx-effect: innershadow( gaussian , rgba(159, 159, 159, 0.7), 20,0,0,0 );
}


.tab-pane {
    -fx-background-color: linear-gradient(to right bottom, #cca8ff, #6ec9ff);
    -fx-font-size: 15;
    -fx-font-family: "Microsoft Sans Serif";
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #a9a2dc;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab .tab-label {
    -fx-text-fill: black;
}

.tab-pane .tab {
    -fx-background-color: #cca8ff;
}

.tab-pane .tab:selected {
    -fx-background-color: #4f8daf;
}

.date-picker {
    -fx-background-radius: 3 3 3 3;
    -fx-border-radius: 0;
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
}

.date-picker .arrow-button {
    -fx-font-family: "Microsoft Sans Serif";
    -fx-border-width: 2;
    -fx-background-radius: 0 3 3 0;
    -fx-background-color: -fx-control-inner-background
}

.date-picker > .text-field {
    -fx-border-width: 2;
    -fx-background-radius: 3 0 0 3;
    -fx-font-size: 15;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: #cca8ff;
    -fx-text-fill: black;
}

.table-row-cell:selected {

}

.table-view .table-cell {
    -fx-background-color: transparent;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .table-column {
    -fx-alignment: center;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label {
    -fx-text-fill: black;
}

.table-view .column-header {
    -fx-background-color: #85abce;
}

.table-view .arrow {

}

.check-box .box {

    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:3px;

}

.check-box:selected .mark {

    -fx-background-color: white;

}

.check-box:selected .box {
    -fx-background-color: #cca8ff;
}
