.combo-box .list-view .list-cell {
    -fx-text-fill: "#cfcfcf";
    -fx-background-color: black;
}

.combo-box .list-view:hover .list-cell:hover {
    -fx-background-color: #565656;
    -fx-cursor: hand;
}

.combo-box {
    -fx-background-color: black;
    -fx-border-width: 2;
    -fx-border-color: #737373;
}

.combo-box-base .text {
    -fx-fill: "#cfcfcf";
}

.scroll-pane .corner {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: black;
    -fx-pref-width: 4;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.hyperlink .button:pressed {
    -fx-font-size: 25;
    -fx-font-family: 'Microsoft Sans Serif';
    -fx-background-radius: 5;
    -fx-border-width: 2;
    -fx-min-width: 180;
    -fx-text-fill: black;
    -fx-background-color: #cfcfcf;
    -fx-border-color: #737373;
}

